@import 'foundation/_systems';
@import 'foundation/inheritance';

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
/* Set core body defaults */
body {
  background-color: $grey-9;
  color: $grey-0;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  width: 100%;
}

a:not([class]) {
  @extend %default-link;
  &::after {
    @extend %link-after;
  }
  &:hover::after {
    @extend %link-hover-after;
  }
}

p {
  font-size: $size-4;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

.container {
  @extend %default-padding;
}

.block {
  display: block;
}
.none {
  display: none;
}
.fixed {
  position: fixed;
}
.title-container {
  display: inline-block;
  margin: 0 1.5rem $size-2;
  position: relative;
  text-transform: uppercase;
  &::after {
    background-color: $prime-y-5;
    bottom: 0;
    content: ' ';
    height: 50%;
    left: 7px;
    opacity: 1;
    position: absolute;
    width: calc(100%);
    z-index: -1;
  }
}
.border {
  width: 100%;
  padding: $size-4 1.5rem;
  &__inner {
    border-bottom: 1px solid $grey-6;
  }
}
.pointer {
  cursor: pointer
}

/* Remove _all_ animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-play-state: paused !important;
    transition: none !important;
    scroll-behavior: auto !important;
  }
}

@import 'components/buttons';
@import 'components/navbar';
@import 'components/splash';
@import 'components/projects';
@import 'components/about';
@import 'components/login';
@import 'components/footer';
@import 'components/tables';
@import 'components/projectsDashboardTable';
@import '../node_modules/@fortawesome/fontawesome-svg-core/styles';
