.footer {
  font-size: $size-2;
  padding: 0 1.5rem;
  padding-top: $size-6;
  padding-bottom: $size-7;
  margin-bottom: $size-8;
  &__info {
    font-size: $size-2;
    margin-bottom: $size-6;
  }
  &__links {
    font-size: $size-4;
    a {
      @extend %default-link;
      &::after {
        @extend %link-after;
      }
      &:hover::after {
        @extend %link-hover-after;
      }
    }
  }
}
