/* Project Page */
.project-table-header {
  padding: $size-2 1.5rem 0 1.5rem;
  p {
    display: block;
    line-height: 2;
    margin-bottom: 20px;
  }
}

/* Full Project Description */
.pd-header {
  margin: 0 auto;
  max-width: $size-max-read-width;
  text-align: center;
  &__type {
    margin-bottom: $size-8;
  }
  &__title {
    line-height: 1;
    margin-bottom: $size-9;
    text-transform: uppercase;
  }
  &__img-container {
    margin-bottom: $size-9;
  }
  &__img {
    width: 100%;
  }
}
.pd-writeup-container {
  margin: 0 auto;
  max-width: $size-max-read-width;
  h2 {
    display: inline-block;
    font-size: $size-6;
    margin-bottom: $size-0;
    position: relative;
    text-transform: uppercase;
    &::after {
      background-color: $prime-y-5;
      bottom: 0;
      content: ' ';
      height: 50%;
      left: 7px;
      opacity: 1;
      position: absolute;
      width: calc(100%);
      z-index: -1;
    }
  }
  p {
    display: block;
    hyphens: auto;
    line-height: 1.75;
    margin-bottom: $size-8;
    text-align: justify;
  }
  img {
    margin-bottom: $size-8;
  }
}

/* Project Summary */
.ps-table {
  @extend %default-padding;
}
.ps-container {
  margin-bottom: $size-10;
  &__title {
    margin-bottom: $size-6;
  }
  &__title-link {
    color: $grey-0;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;
  }
  &__img-container {
    max-width: $size-max-width;
  }
  &__img {
    width: 100%;
  }
  &__title-border {
    background-color: $grey-0;
    height: $size-0;
    margin-bottom: $size-7;
    margin-left: 1px;
    width: $size-10;
  }
  &__info {
    margin-bottom: $size-7;
  }
  &__tech {
    margin-bottom: $size-0;
  }
}
