.project-dash-table {
  border: 2px solid $grey-7;
  border-radius: $size-0;
}
.project-dash-table-header {
  background-color: $grey-8;
  border-bottom: 2px solid $grey-7;
  // This has to be done because a parent div with overflow hidden screws up the popups.
  border-top-left-radius: $size-0;
  border-top-right-radius: $size-0;
  display: flex;
  padding: $size-6 $size-4;
  // &__img-header {
  //   color: $grey-3;
  //   width: 15%;
  // }
  &__header {
    color: $grey-2;
    text-transform: uppercase;
    width: 85%;
  }
  &__menu-header {
    color: $grey-2;
    width: 15%;
  }
}
.project-dash-table-body {
  &--empty {
    border-top: 1px solid $grey-7;
    padding: $size-8;
    text-align: center;
  }
}
.project-dash-table-info {
  $self: &;
  background-color: $grey-9;
  display: flex;
  padding: $size-7 $size-4;
  position: relative;
  text-align: left;
  &:nth-child(odd) {
    background-color: $grey-8;
    #{ $self }__menu-icon {
      background-color: $grey-8;
    }
  }
  // &__img-header {
  //   width: 15%;
  // }
  &:last-child {
    border-bottom: 0;
    // This has to be done because a parent div with overflow hidden screws up the popups.
    border-bottom-left-radius: $size-0;
    border-bottom-right-radius: $size-0;
  }
  &__header {
    padding-right: $size-4;
    width: 85%;
  }
  &__menu {
    position: relative;
    width: 15%;
  }
  &__menu-icon {
    background-color: $grey-9;
    border: none;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &__name {
    line-height: 1.25;
    margin-bottom: $size-1;
  }
}
.project-dash-popup-wrap {
  position: absolute;
  right: $size-4;
  top: 75px;
  z-index: 999;
  &:before {
    border-bottom: 10px solid $grey-9;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: '';
    height: 0;
    position: absolute;
    right: 12px;
    top: -10px;
    width: 0;
  }
}
.project-dash-table-popup {
  background-color: $grey-9;
  border-radius: $size-0;
  overflow: hidden;
  &__edit {
    background-color: $grey-9;
    border: 0;
    border-bottom: 1px solid $grey-7;
    color: $grey-0;
    display: block;
    margin: 0;
    padding: $size-2 $size-11 $size-2 $size-2;
    text-align: left;
    text-decoration: none;
    width: 100%;
  }
  &__delete {
    background-color: $grey-9;
    display: block;
    border: 0;
    margin: 0;
    padding: $size-2 $size-11 $size-2 $size-2;
    text-align: left;
    width: 100%;
  }
}

.project-dash-table-title {
  display: flex;
  margin-bottom: $size-8;
  &__btn {
    background-color: $prime-y-3;
    border: 1px solid $prime-y-2;
    border-radius: $size-0;
    color: $grey-9;
    margin-left: auto;
    padding: $size-1;
    text-decoration: none;
  }
}