.project-dash-table-wrap {
  position: relative;
}
.project-dash-table {
  border-radius: $size-0;
  overflow: hidden;
}
.project-dash-table-header {
  background-color: $grey-8;
  border-bottom: 2px solid $grey-7;
  display: flex;
  padding: $size-6 $size-4;
  // &__img-header {
  //   color: $grey-3;
  //   width: 15%;
  // }
  &__header {
    color: $grey-2;
    text-transform: uppercase;
    width: 85%;
  }
  &__menu-header {
    color: $grey-2;
    width: 15%;
  }
}
.project-dash-table-body {
  &--empty {
    border-top: 1px solid $grey-7;
    padding: $size-8;
    text-align: center;
  }
}
.project-dash-table-info {
  background-color: $grey-9;
  border-bottom: 1px solid $grey-7;
  display: flex;
  padding: $size-7 $size-4;
  text-align: left;
  // &__img-header {
  //   width: 15%;
  // }
  &--last {
    border-bottom: none;
  }
  &__header {
    padding-right: $size-4;
    width: 85%;
  }
  &__menu {
    position: relative;
    width: 15%;
  }
  &__menu-icon {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &__name {
    line-height: 1.25;
    margin-bottom: $size-1;
  }
}
.project-dash-table-popup {
  background-color: $grey-9;
  border-radius: $size-0;
  overflow: hidden;
  position: absolute;
  right: $size-4;
  // top: 40px;
  &__edit {
    background-color: $grey-9;
    border: 0;
    border-bottom: 1px solid $grey-7;
    display: block;
    margin: 0;
    padding: $size-0 $size-9 $size-0 $size-1;
    text-align: left;
    width: 100%;
  }
  &__delete {
    background-color: $grey-9;
    display: block;
    border: 0;
    margin: 0;
    padding: $size-0 $size-9 $size-0 $size-1;
    text-align: left;
    width: 100%;
  }
}